.st-emotion-cache-gi0tri e194bff03{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
  }
  
  .diagnosis {
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
  }
  
  .diagnosis.benign {
    background-color: #01DB4B;
  }
  
  .diagnosis.malicious {
    background-color: #ff4b4b;
  }

/* General styling */
body {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

/* Sidebar styling */
.stSidebar {
    background-color: #2E2E2E;
}

.stSlider {
    color: #FF4B4B;
}

/* Prediction section styling */
.stContainer {
    background-color: #E0E0E0;
    padding: 20px;
    border-radius: 10px;
}

.stContainer h2 {
    color: #4CAF50;
}

.stContainer p {
    color: #333333;
}